.header{
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #002F2F;
}

.header-logo{
    padding: 1%;
    margin-left: 1%;
}

.header-logo img{
    width: 130px;
}
.header-logo a{
    display: none;
}
.header-links{
    padding: 1%;
    width: 60%;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links a{
    text-decoration: none;
    color: #fff;
    font-family: 'Source Serif Pro';
}

.header-links button{
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 2%;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    border: 3px solid #fff;
}

@media (max-width: 1134px) {
    .header-links{
        width: 80%;
    }

}

@media (max-width: 904px) {
    .header-links{
       font-size: 13px;

    }
}

@media (max-width: 729px) {
    .header-links{
        display: none;
    }
    .header-logo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 12px;
    }
    .header-logo a{
        display: block;
        color: #fff;
    }
}