.myModal{
    display: none;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    font-family: 'Source Serif Pro';
}

TD, TH {
    border: 1px solid #002F2F;
    padding: 5px;
}

@media (max-width: 855px) {
    .myModal{
        width: 60%;
        margin: 0;
    }
    TD, TH {
        border: 1px solid #002F2F;
        padding:0;
    }
}