.myModal{
    display: none;
    align-items: center;
    justify-content: center;
    /* width: 70%; */
    margin: auto;
    font-family: 'Source Serif Pro';
}

TD, TH {
    border: 1px solid #002F2F;
    padding: 5px;
}

@media (max-width: 855px) {
    .myModal{
        margin: 0;
        padding: 0;
    }
    .myModal table {
        padding: 5px;
    }
    TD, TH {
        display: flex;
        flex-direction: column;
    }
}